.Container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
}

nav {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.links {
  display: flex;
}

.link,
.link-end {
  color: white;
  text-decoration: none;
  list-style: none;
  padding-right: 1rem;
}

.link-end {
  padding-right: 0;
}

p {
  font-size: calc(10px + 2vmin);
}

.Description,
.Ciphers {
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  align-items: top;
}

form {
  display: inline-block;
  text-align: end;
  align-items: top;
}

input {
  margin-left: .5em;
  padding: .5em;
}

button {
  font-size: calc(5px + 2vmin);
  border-radius: .5em;
  border: none;
  background-color: #282c34;
  color: white;
  margin-top: .5em;
  padding: .5em 1.5em;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.text {
  inline-size: 300px;
  overflow-wrap: break-word;
}

.card {
  border-color: #282c34;
  border-width: 1em;
}



@media only screen and (max-width: 800px) {

  .Ciphers,
  .links {
    display: block;
  }
}