.App {
  text-align: center;
}

.App-header {
  align-items: center; 
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
